// 
// user.scss
// Use this to write your custom SCSS
//
 .card-body  img{
     width: 100%;
     background-color: black;
 }
 .card-body  {
    width: 100%;
 }
 h2 {
     font-size:  30px;
     color: #E94C4E;
 }

 h3 {
    font-size:  25px;
    color: #E94C4E;
}

 p {
     font-size: 20px !important;
     margin: 0px;
     text-align: left;
 }
 
  .challenge{
     margin-top: 40px;
     width: 70% !important;
    
 }

 .hwp{
     float: left;
    
    
 }

 .userflow{
       width: 600px;
       margin-top: 50px;
       margin-left: 250px;
 }
 
 
 
 .bold  {
    font-weight: 700;
     margin-top: 100;
     margin-right: 100px;
 }
 .regular{
     font-weight: 100;
 }


 img{
     margin-top: 20px;
 }


 
 button{
     margin-top: 50px;
 }
 .empathise{
     margin-top: 50px;
 }